:root { --color-neutral: 255, 255, 255;
--color-neutral-50:     249,249,251;
--color-neutral-100:    201,209,222;
--color-neutral-200:    154,168,192;
--color-neutral-300:    107,128,163;
--color-neutral-400:    74,91,119;
--color-neutral-500:    45,55,72;
--color-neutral-600:    29,36,47;
--color-neutral-700:    14,17,22;
--color-neutral-800:    0,0,0;
--color-neutral-900:    0,0,0;
--color-primary-50:     255,255,255;
--color-primary-100:    255,255,255;
--color-primary-200:    255,255,255;
--color-primary-300:    247,193,197;
--color-primary-400:    239,125,133;
--color-primary-500:    230,57,70;
--color-primary-600:    219,28,42;
--color-primary-700:    182,23,35;
--color-primary-800:    146,18,28;
--color-primary-900:    110,14,21;
--color-secondary-50:     255,255,255;
--color-secondary-100:    255,255,255;
--color-secondary-200:    255,255,255;
--color-secondary-300:    241,248,255;
--color-secondary-400:    165,207,255;
--color-secondary-500:    88,166,255;
--color-secondary-600:    47,144,255;
--color-secondary-700:    6,123,255;
--color-secondary-800:    0,103,221;
--color-secondary-900:    0,84,180;
}